<nav class="navbar navbar-expand-lg navbar-white bg-dark">
  <div class="container">
    <img src="assets/title.jpg" height="100px" width="100px" class="navbar-brand" />
    <ul class="navbar-nav">
      <li role="presentation" class="nav-item" routerLinkActive="active" routerLinkActiveOption="{exact:true}">
        <a class="nav-link" routerLink="ulogin">User Login</a>
      </li>
      <li role="presentation" class="nav-item" routerLinkActive="active" routerLinkActiveOption="{exact:true}">
        <a class="nav-link" routerLink="alogin">Admin Login</a>
      </li>
    </ul>
  </div>
</nav>
<div>
  <h1 class="bg-primary text-center text-light">Kitchen Story</h1>
  <blockquote class="bg-warning text-center"><span class="text-dark text-center">Address:</span> <br>3rd Floor, Block
    A, Wing 1 & 2, Phase 2, <br>HITEC City, Hyderabad, Telangana
    500081<br>
    <span>Phone:</span>
    <span class="text-white">9243564321</span>
  </blockquote>
</div>