<nav class="navbar navbar-expand-lg navbar-white bg-dark">
    <div class="container" >
      <img
        src="assets/title.jpg"
        height="100px"
        width="100px"
        class="navbar-brand"
      />
      <ul class="navbar-nav">
        <li
          role="presentation"
          class="nav-item"
          routerLinkActive="active"
          routerLinkActiveOption="{exact:true}"
        >
          <a class="nav-link" routerLink="userhome">Home</a>
        </li>
       
        <li
          role="presentation"
          class="nav-item"
          routerLinkActive="active"
          routerLinkActiveOption="{exact:true}"
        >
          <a class="nav-link" routerLink="app">Logout</a>
        </li>
      </ul>
    </div>
    </nav>
  
